.headDiv {
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
}

.heading {
    font-size: 3em;
    color: #F9F7F7;
}

h1 {
    cursor: pointer;
}
