.navDiv {
    display: flex;
    max-width: 800px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}

.navImage>p {
    text-align: center;
    margin: 5px auto;
    font-size: 16px;
}

.imageDiv {
    border: 3px solid #DBE2EF;
    border-radius: 50%;
    max-width: fit-content;
    object-fit: cover;
    display: block;
}

.imageDiv:hover {
    border: 3px solid #3F72AF;
}

.image {
    width: 100%;
    border-radius: 50%;
    display: block;
    width: 170px;
    height: 170px;
    cursor: pointer;
}
