@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #F9F7F7; */
  background-color: #DBE2EF;
  font-family: 'Salsa', cursive;
}
